
<div class="dostavka_glavniy">
    <div class="container_dostavka">
        <p class="text_glavniy"><span class="glavniy">Главная</span>  —  О компании</p>
  <div class="dostavka_text_three">
    <p class="text_dostavka dostavke">О компании</p>
   
  </div>

    </div>

</div>


<img src="/assets/rasm.png" alt="test" class="image_title">


<div class="dostavka_glavniy">
    <div class="container_dostavka">
      
  <div class="dostavka_text_three">
    <p class="text_dostavka dostavke">Что мы <br> предлагаем?</p>

    <div>

    <div class="razrabotka_couple">

        <div class="razrabotka_icon">
            <img src="/assets/olti.jpg" alt="" class="icon_razrabot">
        <div class="icon_razbor">
            <p class="two_span">Разработка оборудования</p>
            <p class="title_service">Выяснение конечных потребности потребителей <br> и разработка нового осветительного оборудования</p>
        </div>

        </div>

    </div>


    <div class="razrabotka_couple">

        <div class="razrabotka_icon">
          <img src="/assets/dumaloq.png" alt="" class="icon_razrabot">
        <div class="icon_razbor">
            <p class="two_span">Контроль производства</p>
            <p class="title_service">Тщательный контроль каждого этапа в процессе <br> производства</p>
        </div>

        </div>

    </div>


    <div class="razrabotka_couple">

        <div class="razrabotka_icon">
          <img src="/assets/tortbur.png" alt="" class="icon_razrabot">
        <div class="icon_razbor">
            <p class="two_span">Надежность комплектующих</p>
            <p class="title_service">Использование комплектующих известных  <br> вендоров, энергоэффективность и надежность <br> которых проверена временем</p>
        </div>

        </div>

    </div>
</div>


  </div>

    </div>




    



</div>


<div class="dostavka_glavniy footer_up">
    <div class="container_dostavka cont_dosta">
      
        <div class="icon_razbor razbor_title">
            <p class="two_span span_footer_up">Мы сделаем вашу <br> жизнь светлее!</p>
            <p class="title_service service_footer_up">Компания «Системы Освещения» HTL аккредитована <br> комплексом градостроительной политики и строительства <br> города Москвыи внесена в Московский территориальный <br> строительный каталог (МТСК)</p>
            <p class="title_service service_footer_up">Вся представленная на сайте продукция соответствует <br> международным стандартам качества, что подтверждено <br> сертификацией СЕ</p>
        </div>

        <div>

       
        <form class="form_class">
           
          
        
           <div class="form_display">
            <div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Имя*</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Телефон*</label>
                  </div>
            </div>
            <div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Город реализации</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Планируемый объем продаж</label>
                  </div>
            </div>


           </div>
        
            <div class="checkbox mb-3">
              <label>
                <input class="input_chek" type="checkbox" value="remember-me"><span class="text_najav">Нажав на кнопку, вы соглашаетесь на </span> <span class="check_text">обработку персональных данных</span>
              </label>
            </div>
            <button class=" btn_button test2 btn btn-lg btn-primary" type="submit">Отправить заявку</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
          </form>

        </div>

</div>
</div>