<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">
            <img src="./white1.png" alt="1" style="display: inline;">
            <img src="./white2.png" alt="" style="display: inline;">
            <img src="./white1.png" alt="" style="display: inline;">
            <img src="./white3.png" alt="" style="display: inline;">
            <img src="./white2.png" alt="" style="display: inline;margin-bottom: 35px;">
            <img src="./white1.png" alt="" style="display: inline;">
            <img src="./white2.png" alt="" style="display: inline;margin-top: 35px;">
          </span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Клиентам</li>
          <li><a href="#">Продукция</a></li>
          <li><a href="#">Решения</a></li>
          <li><a href="#">Где купить?</a></li>
          <li><a href="#">Дизайнерам и архитекторам</a></li>
          <li><a href="#">Дилерам</a></li>
          <li><a href="#">Защита проекта</a></li>
          <li><a href="#">Скачать каталог</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">O компании</li>
          <li><a href="#">Портфолио</a></li>
          <li><a href="#">Новости и события</a></li>
          <li><a href="#">Контакты</a></li>
          <br>
          <li class="link_name">Телефон</li>
          <li><a href="#" style="font-size: 20px;">+7 (495) 125-10-07</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Помощь</li>
          <li><a href="#">Оплата и доставка</a></li>
          <li><a href="#">Prefrences</a></li>
          <br>
          <li class="link_name">Почта</li>
          <li><a href="#" style="font-size: 20px;">INFOH-T-L.RU</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Политика конфиденциальности</span>
        <span class="policy_terms">
          <a href="#">Сайт сделан в FINIK</a>
        </span>
      </div>
    </div>
  </footer>
