
<div class="dostavka_glavniy">
    <div class="container_dostavka">
        <p class="text_glavniy"><span class="glavniy">Главная</span>  —  Оплата и доставка</p>
  <div class="dostavka_text_three">
    <p class="text_dostavka dostavke">Доставка</p>
    <p class="text_dostavka oplate">Самовывоз</p>
    <p class="text_dostavka oplate">Оплата</p>
  </div>

  <table class="table">
    <thead>
      <tr class="zona_dostav_column">
        <th class="col_name" scope="col">Зона доставки </th>
        <th class="col_name" scope="col">до 100 000 руб.</th>
        <th class="col_name" scope="col">от 100 000 руб. до 500 000 руб.</th>
        <th class="col_name" scope="col">от 500 000 руб.</th>
      </tr>
    </thead>
    <tbody class="tbody_table">
      <tr class="tr_paddding">
        <th class="zona_dostav" scope="row">г. Москва в пределах МКАД	</th>
        <td class="dostav_rub">1 500 руб.	</td>
        <td class="dostav_rub">1 000 руб.</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>

      <tr>
        <th class="zona_dostav" scope="row">г. Москва в пределах МКАД	</th>
        <td class="dostav_rub">1 500 руб.	</td>
        <td class="dostav_rub">1 000 руб.</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>

      <tr>
        <th class="zona_dostav" scope="row">г. Москва в пределах МКАД	</th>
        <td class="dostav_rub">1 500 руб.	</td>
        <td class="dostav_rub">1 000 руб.</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>
    
      <tr>
        <th class="zona_dostav" scope="row">г. Москва в пределах МКАД	</th>
        <td class="dostav_rub">1 500 руб.	</td>
        <td class="dostav_rub">1 000 руб.</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>
    

      <tr>
        <th class="zona_dostav" scope="row">г. Москва в пределах МКАД	</th>
        <td class="dostav_rub">1 500 руб.	</td>
        <td class="dostav_rub">1 000 руб.</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>
    

      <tr>
        <th class="zona_dostav" scope="row">До терминалов транспортных
            компаний в пределах МКАД		</th>
        <td class="dostav_rub">Бесплатно	</td>
        <td class="dostav_rub">Бесплатно</td>
        <td class="dostav_rub">Бесплатно</td>
      </tr>
    

    
    </tbody>

    <tr class="beside_table ">
       
        <th class="zona_dostav dostav_color" scope="row">До терминалов транспортных
            компаний в пределах МКАД	<i class="fa-solid fa-caret-down active"></i>	</th>
        <td class="dostav_rub">Бесплатно	</td>
        <td class="dostav_rub">Бесплатно</td>
        <td class="dostav_rub">Бесплатно</td>
     
      </tr>

  </table>



    </div>

</div>