<div class="dostavka_glavniy">
    <div class="container_dostavka">
        <p class="text_glavniy"><span class="glavniy">Главная</span>  — Гарантия и сервис</p>
  
  
<div class="dostavka_text_three">
    <p class="text_dostavka dostavke">Гарантия и сервис</p>
   
 </div>


 <div class="garanty_service_couple">

    <div class="garanty_couple_one">
       <div class="name_title">
        <span class="service_title">Внимание!</span>
        <p class="service_garanty_title">Гарантийный срок отсчитывается <br> с даты отгрузки товара со склада</p>
       </div>
    </div>

    <div class="garanty_couple_two">

        <p class="title_service">На всю представленную на нашем сайте продукцию распространяется <br> гарантия от 2 до 7 лет. Более точную информацию вы найдете на странице <br> соответствующего продукта</p>
        <p class="title_service_name">Гарантийные обязательства распространяются:</p>
        <div class="title_name_three">
            <p class="text_service"> на светильники;</p>
            <p class="text_service"> корпуса светильников;</p>
            <p class="text_service"> оптические элементы и другие электротехнические компоненты;</p>
            <p class="text_service"> элементы крепления, установки и подсоединения светильников к электрической сети</p>
        </div>

    </div>

    


 </div>




</div>

</div>


<!-- <img src="image/rasm.jpg" class="image_title" alt=""> -->

<img src="/assets/Rasm.jpg" alt="test">




<div class="dostavka_glavniy">
    <div class="container_dostavka">
     

 <div class="garanty_service_couple">

    <div class="garanty_couple_one">
       <div class="name_title">
        <p class="service_garanty_title garanty_title">Выполнение гарантийных <br> обязательств происходит <br> в рамках <span class="span_rf">законодательства РФ</span> <br> и в соответствии с договорами <br> между партнерами и HTL</p>
       </div>
    </div>

    <div>

    <div class="garanty_couple_two two_title">
        <span class="two_span">Условия гарантии</span>
        <p class="title_service">Гарантия действует только в случаях, когда продукция транспортировалась, <br> хранилась, монтировалась и эксплуатировалась с соблюдением требований <br> производителя, изложенных в паспорте изделия, ТУ, инструкциях по монтажу и <br> эксплуатации, а также прописанных в условиях поставки, правилах технической <br> эксплуатации электроустановок для потребителей и других обязательных для <br> сторон правилах, которые дополнительно были установлены в рамках договоров</p>
        <p class="title_service">Претензии по изменению оттенков окрашенных поверхностей и пластиковых частей <br> светильников в процессе их эксплуатации не принимаются, так как такие случаи <br> не признаются гарантийными</p>
       

    </div>


    <div class="garanty_couple_two two_title">
        <p class="two_span">Исполнение гарантийных обязательств</p>
        <p class="title_service">При поступлении обоснованной рекламации мы принимаем неисправную <br> продукцию, чтобы провести техническую экспертизу и принять решение на <br> основании дефектовки в нашем сервисном центре.</p>
        <p class="title_service">В период действия гарантии при поломке или дефекте мы оперативно осуществляем <br> ремонт или замену оборудования в рамках гарантийных обязательств, а также <br> принимаем на себя расходы по доставке отремонтированной / замененной / <br> подменной продукции.</p>
        <p class="title_service">После окончания срока гарантийных обязательств мы оставляем за собой право <br> рассмотреть рекламацию, чтобы принять решение о замене или компенсации <br> стоимости оборудования, которое было признано не соответствующим техническим <br> параметрам.</p>
        <p class="title_service">Внимание! После приобретения изделия, пожалуйста, сохраняйте документ, <br> подтверждающий факт и дату покупки. Он может потребоваться в случае обращения <br> за гарантийным обслуживанием.</p>
        <p class="title_service">Вы можете оформить обращение по гарантии, заполнив рекламацию и отправив <br> ее нам на serviceh-t-l.ru</p>
       

    </div>

    <div class="garanty_couple_two two_title">
        <p class="two_span">Предъявление рекламаций на неисправное оборудование</p>
        <p class="title_service">Предъявление рекламаций (претензий) на продукцию по гарантии осуществляется <br> в гарантийный срок, который указан в паспорте готового изделия</p>
        <p class="title_service">Рекламацию необходимо предъявлять по форме, установленной в договоре. <br> Если поставка была осуществлена по договору-счету, то необходимо подготовить <br> и направить на адрес infoh-t-l.ru акт рекламации (скачать)</p>
       
       

    </div>

    <div class="garanty_couple_two two_title">
        <p class="two_span">Рассмотрение рекламаций и выполнение обязательств</p>
        <p class="title_service">Каждую рекламацию мы рассматриваем в течение 60 часов с момента ее получения</p>
        <p class="title_service">Сроки замены бракованного товара указываем в ответе (Заключении) на рекламацию <br> с учетом его наличия на нашем складе или сроков изготовления</p>
        <p class="title_service">Вся дополнительная информация имеется в паспорте на оборудование</p>
        <p class="title_service">При возникновении вопросов по гарантийной поддержке обращайтесь <br> к нам или к компании-дилеру, с которой сотрудничаете</p>
        <p class="title_service">Сервисный центр HTL: serviceh-t-l.ru</p>
       

    </div>


    <div class="garanty_couple_two two_title">
        <p class="two_span">Правовое поле</p>
        <p class="title_service">Получите больше информации по телефону: +7 (495) 125-10-07</p>
      
       
       

    </div>



</div>


 </div>




</div>

</div>
